@use "../abstracts" as *;

.header {
  background-color: $primary-color;
  img {
    height: 180px;
    width: auto;
    margin-left: 6rem;
    margin-top: 1rem;
  }
}

.nav-container {
  ul {
    list-style: none;
    display: flex;
    gap: 12px;
    margin-left: 1.5rem;
    li {
      color: $third-color;
      font-size: 18px;
      position: relative;
      padding: 8px 0.1px;
      cursor: pointer;
      margin-bottom: 1rem;
    }

    li::before,
    li::after {
      content: "";
      position: absolute;
      display: block;
      width: 0%;
      height: 0%;
      transition:
        width 0.4s ease,
        height 0.4s ease;
    }

    li::after {
      top: 0;
      left: 0;
      border-top: 3px solid transparent;
      border-left: 3px solid transparent;
    }

    li::before {
      right: 0;
      bottom: 0;
      border-bottom: 3px solid transparent;
      border-right: 3px solid transparent;
    }

    li:hover::before,
    li:hover::after {
      width: 100%;
      height: 100%;
      border-color: $bg-color;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 180px;
    @media screen and (min-width: 768px) {
      img {
        height: 130px;
        margin-left: 1rem;
      }
    }
  }

  .nav-container {
    ul {
      li {
        font-size: 28px;
        left: 26%;
        top: -100px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    height: 220px;
    img {
      height: 180px;
      margin-left: 3rem;
    }
  }

  .nav-container {
    ul {
      li {
        font-size: 36px;
        left: 26%;
        top: -140px;
        margin-left: 3rem;
      }
    }
  }
}
